@use "reset";
@use "mixins" as mx;

aside, ul{
 @include mx.flexAlign(center, start, column);
}

aside{
    background-color: var(--verde);
    @include mx.heightWidth(100vh, 20vw);
    position: fixed;
    left: 0;

    ul, li{
        width: 20vw;
    }
    ul{
        height: 100vh;

        li,a{
            @include mx.flexAlign(center, center, column);
        }
        
        li{
            height: 25%; //tamanho de cada item do menu - 100/4

            a{
                @include mx.heightWidth(100%,100%);
                background-color: var(--verde);
                text-decoration: none;
                color: var(--branco);
                transition: background-color 0.5s, width 0.5s;

                &:hover{
                    background-color: var(--verdeClaro);
                    cursor: pointer;
                    transition: background-color 0.5s;
                }
                
                img{
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
}