@use "reset";
@use "mixins" as mx;
@use "dashboard";


.container {
    display: flex;
    justify-content: flex-end;
    background-color: var(--branco);

    main, form{
        @include mx.flexAlign(center, center,column);
    }
    main{
        @include mx.heightWidth(100vh, 80vw);

        .menu {
            @include mx.heightWidth(650px, 550px);
            display: flex;
            border: none;
            border-radius: 5%;
            box-shadow: 1px 1px 10px 0.5px #000000;

            .form {
                gap: 2vh;
                width: 100%;

                h1 {
                    font-size: 2.2rem;
                    color: var(--verde);
                }

                .inputs, .submit {
                    padding: 2%;
                    width: 80%;
                    border-radius: 8px;
                    border: 2px solid #E3E3E1;
                    font-size: 1rem;
                    color: #777775;
                }

                .submit {
                    background-color: var(--verdeClaro);
                    color: var(--branco);
                    font-weight: bold;
                    border: none;
                    transform: background-color 0.3s ease;
                    
                    &:hover {
                        background-color: var(--verde);
                        transition: 0.3s ease;
                        cursor: pointer;
                    }
                }

                .select {
                    width: 80%;
                    padding: 2%;
                    border: 2px solid #E3E3E1;
                    font-size: 1rem;
                    border-radius: 8px;
                    color: #777775;
                    font-weight: 500;
                    background-color: #fff;
                }
            }
        }
    }
    
}