@use "reset";
@use "mixins" as mx;
@use "dashboard";


.container {
    display: flex;
    justify-content: flex-end;
    background-color: var(--branco);

    main {
        @include mx.flexAlign(center, start, column);
        @include mx.heightWidth(100vh, 80vw);
        padding-top: 5vh;

        .box {
            @include mx.flexAlign(center, start, column);
            gap: 2vh;
            margin-top: 10vh;

            .gasto {
                @include mx.flexAlign(start, start, column);
                width: 500px;
                height: 150px;
                border: 3px solid var(--verdeClaro);
                border-radius: 10px;
            }

            .lucro {
                @include mx.flexAlign(start, start, column);
                width: 600px;
                height: 150px;
                background-color: var(--white);
                border: 3px solid var(--verdeClaro);
                border-radius: 10px;
            }
        }

        .menu {
            @include mx.flexAlign(start, start, row);
            margin-top: 5vh;
            gap: 2vw;

            .fazenda,
            .roi,
            .pe {
                @include mx.flexAlign(center, start, column);
                @include mx.heightWidth(150px, 250px);
                background-color: var(--white);
                border: 3px solid var(--verdeClaro);
                border-radius: 10px;
            }
        }
    }
}