@use "reset";
@use "mixins" as mx;

.container,
.form {
    @include mx.flexAlign(center, center, row);
}

.container {
    @include mx.heightWidth(100vh, 100vw);
    background-image: url(../img/fundo_login.png);
    background-repeat: no-repeat;
    background-size: cover;

    .menu {
        display: flex;
        border: none;
        border-radius: 5%;
        max-width: 550px;
        width: 550px;
        max-height: 440px;
        height: 440px;
        box-shadow: 1px 1px 10px 0.5px #000000;
        background-color: var(--gelo);

        .form {
            flex-direction: column;
            gap: 2vh;
            width: 100%;

            .inputs,
            .submit {
                padding: 2%;
                width: 80%;
                border-radius: 8px;
                border: 2px solid #E3E3E1;
                font-size: 1rem;
                color: #777775;
            }
            
            .submit {
                background-color: #2C7450;
                color: #fff;
                font-weight: bold;
                cursor: pointer;
                border: none;
                transform: background-color 0.3s ease;

                &:hover {
                    background-color: #133D2B;
                    transition: 0.3s ease;
                }
            }

            a, u {
                text-decoration: none;
                color: var(--preto);
            }

            a {
                color: var(--verde);
                font-weight: bold;
            }

            h1 {
                font-size: 2.2rem;
                color: #133D2B;
                }
            }
        }
    }