@use "reset";
@use "mixins" as mx;
@use "dashboard";

.container {
    @include mx.heightWidth(100vh, 100vw);
    background-color: var(--gelo);
}

.container, main {
    @include mx.flexAlign(start, center, row);
}