@use "reset";
@use "mixins" as mx;
@use "dashboard";

.container {
    @include mx.flexAlign(start, end, start);
    background-color: var(--branco);

    main {
        @include mx.heightWidth(100vh, 80vw);
        padding: 2rem;
        background-color: #F9F6ED;

        h1 {
            text-align: center;
        }

        .table-container {
            overflow-y: scroll;
            background-color: #fff;
            border: 2px solid #A3C9A8;
            border-radius: 10px;
            padding: 1rem;
            height: 77vh;
            margin-top: 2vh;

            h3 {
                margin-bottom: 1rem;
            }

            table {
                width: 100%;
                border-collapse: collapse;

                th, td {
                    padding: 0.8rem;
                    text-align: left;
                    border-bottom: 1px solid #ccc;
                }

                th {
                    background-color: #E8F0E8;
                }
            }
        }
    }
}